@import "keypad.css";
/* body */
body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  border: 0;
}
/* header */
.header-box {
  background-color: #333;
  color: #ccc;
  top: 0;
  position: fixed;
  width: 100%;
}
.page-title {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
}

.main-screen {
  padding: 0px 15px;
  margin-top: 120px;
  margin-bottom: 10px;
}
.logo-box span:nth-child(2) {
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}
.logo-box span:nth-child(3) {
  float: right;
  margin-top: 5px;
  font-size: 12px;
}
.address-box span {
  color: #ddd;
  background-color: #7dc7ff;
  font-size: 12px;
  border-radius: 35px;
  margin: 30px 0px 30px 30px;
  text-align: center;
}
.addrss-box button {
  outline: none;
}

.amount-box {
  font-size: 16px;
}
.amount-box p {
  margin: 10px 10px;
}
.amount-box img {
  margin-right: 0px;
}
.amount-box span {
  float: right;
}
.blocks-screen {
  padding: 0px 25px;
  margin-top: 120px;
  margin-bottom: 15px;
  /* block-screen scroll setting */
  max-height: 600px; /* 세로 스크롤이 필요한 영역의 최대 높이 설정 */
  overflow-y: auto; /* 내용이 영역을 벗어날 경우에만 세로 스크롤 활성화 */
}

.info-box {
  background-color: #eee;
  color: #555;
  padding: 0 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #eee;
  display: block;
}

.info-head span {
  margin-left: 10px;
}
.info-data span {
  float: right;
  margin-right: 10px;
  font-size: 12px;
}

.create-box {
  text-align: center;
  font-size: 18px;
}
#create-form input {
  margin-left: 10px;
  font-size: 15px;
  color: rgb(0, 0, 255);
}
#create-form p:nth-child(2) {
  font-size: 13px;
  color: rgb(120, 150, 255);
}
#create-form a {
  text-decoration: none;
  color: inherit;
}

.block-search input {
  width: 90%;
  font-size: 16px;
  background-color: #eee;
  border: none;
  padding: 5px;
  box-sizing: border-box;
}
.block-search button {
  width: 8%;
  font-size: 18px;
  padding-left: 7px;
  text-align: center;
}

.block-head {
  font-size: 16px;
  font-weight: bold;
  color: rgb(25, 65, 255);
  margin: 5px 0;
}
.block-data {
  font-size: 14px;
  margin: 5px 0;
}
.block-data span {
  float: right;
  margin-right: 5px;
  font-size: 12px;
}
.txn-history {
  text-align: left;
}
.txn-list {
  background-color: #fff;
  padding: 12px 12px;
  color: #777;
  font-size: 14px;
  margin: 15px 0;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  text-align: var(--justify-normal);
}
.debit-amount {
  color: red;
  float: right;
}
.credit-amount {
  color: green;
  float: right;
}
.transfer-box {
  background-color: #eee;
  color: #555;
  padding: 0 10px;
  margin: 10px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #eee;
  display: block;
}
.transfer-box input {
  width: 80%;
}
.transfer-box span {
  margin-left: 7px;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
/*margin: top rignt down left*/
.nav__list {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  list-style: none;
}
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.nav__btn p {
  font-size: 12px;
  margin-top: 2px;
}
.nav__btn {
  text-align: center;
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
.nav__link {
  position: relative;
  color: #333;
  text-decoration-line: none;
}

#login-screen {
  background-color: #bebebe;
}
.alt-header {
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-header__title {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
.alt-header__title span {
  font-size: 20px;
}
.alt-header__column {
  width: 33%;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__column span:last-child {
  margin-left: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 10px 70px;
}
#login-form input {
  border: none;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: rgb(0, 195, 255);
}

#login-form input[type="submit"] {
  background-color: rgb(0, 195, 255);
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

textarea:focus,
input:focus {
  outline: none;
}

.fa-user {
  float: right;
  margin-right: 20px;
}
.fa-align-left {
  margin: 0 20px;
}

.amount-box span:nth-child(1) {
  text-align: left;
  margin-left: 20px;
}
.amount-box span:nth-child(2) {
  float: right;
  margin-right: 70px;
}
